<launch>
<arg name="index1" default="0"/>
<arg name="index2" default="1"/>

   <node name="camera_1" pkg="irc2024" type="videofeed1" output = "screen">
   <param name="index1" type="int" value="$(arg index1)"/>
   </node>

   <node name="camera_2" pkg="irc2024" type="videofeed2" output = "screen">
   <param name="index2" type="int" value="$(arg index2)"/>
   </node>
</launch>